<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@Page.Title</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!-- nav responsive-->
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery-3.1.1.min.js"></script>

        @RenderSection("Menu", false)

        @RenderBody()
    </body>
</html>
